.fontclrh2{
    color: var(--light-blue);
}
.fonthover:hover{
    background-color: var(--light-blue) ;
    border-radius: 100%;
    color: var(--offWhite);
}
.hrline{
  border-color: var(--yellow);
  border-bottom-width: 1px;
}

.emailclr{
    color: var(--yellow);
}
.posternamehover:hover{
    color: var(--blue-hover);
}
.fontclr {
    color: var(--blue);
  }

  .border-blue{
border-color: var(--yellow);
  }

  .borderbtblack{
    border-bottom-width: 1px;
    border-color: var(--yellow);
  }