.bghomeclr{
    background-color:  var(--yellow);
    color: var(--blue);
}

.sliderbg{
    background-color: #f2f2f22e;
    color: var(--blue);
}
.sliderHomebg{
    background-color: var(--blue);
    color: var(--yellow);
}