* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
}

.bg-color {
  background-color: var(--offWhite, #f8f8f8);
}

.slider-area h1 {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

.wrapper {
  width: 100%;
  display: flex;
  overflow: hidden;
  /* padding: 2.5rem; */
}

.item {
  animation: animate 5s alternate linear infinite;
  padding: 0 10px;
  flex: 0 0 300px;
}

.item img {
  width: 100%;
  height: auto;
  background-color: #f2f2f2;
  overflow: hidden;
}

.wrapper:hover .item {
  animation-play-state: paused;
}
.logoclient{
  font-size: 40px;
    font-weight: 900;
}

.sliderbg {
  background-color: #f2f2f25c;
  color: var(--blue);
}
@keyframes animate {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1100px, 0, 0);
  }
}
