.bg-color {
  background-color: var(--offWhite);
}

.hrline hr {
  border-color: var(--yellow);
}

.formname {
  color: var(--light-black);
}
.fontclr {
  color: var(--blue);
}
.inputnamecl {
  color: var(--grayblack);
}

.btnsend {
  background-color: var(--blue);
  color: var(--white);
}
.btnsend:hover {
  background-color: var(--yellow);
  color: var(--blue);
  opacity: 0.9;
}

.borderbt {
  border-bottom-width: 2px;
  border-color: var(--yellow);
}
@media screen and (max-width: 476px) {
  .fonttext {
    /* font-size: 20rem !important;  */

  }
}