/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


*{
  font-family: "Roboto Condensed", sans-serif;
}

:root{
  --blue:#131a3c;
  --blue-hover: #1976d2;
  --bg-black : rgba(0, 0, 0, 0.7);
  --white : #fff;
  --black: #000000;
  --offWhite: #fafafa;
  --light-black:#4d4d4d;
  --grayblack : #000000;
  --light-blue:rgb(25, 118, 210);
  --yellow: #ffc107;
}
.lineclr{
  color: var(--yellow);
}
.get-touch-bg-color{
  background-color: var(--blue);
}
.hrline{
  border-color: var(--yellow);
  border-bottom-width: 1px;
}